/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
.c-nav{
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
	font-size: 16px;
	font-family: "Poppins";
	color: $color2;
	line-height: 2.25;
	&__list{
		display: flex;
	}
}