/*------------------------------------------------------------
	Other
------------------------------------------------------------*/

.c-breadcrumb {
    display: flex;
    align-items: center;
    padding: 23px 0 0;
    li {
        font-size: 16px;
        line-height: 1;
        color: #333;
        text-transform: uppercase;
        position: relative;
        padding-right: 8px;
        +li {
            padding-left: 12px;
            &::before {
                content: '';
                width: 6px;
                height: 10px;
                background: url(../images/chevron-right-icon.png) no-repeat center;
                background-size: 100%;
                position: absolute;
                left: 0;
                top: calc(50% - 5px);
            }
        }
        a {
            color: #333;
            text-decoration: none;
        }
    }
}