/*------------------------------------------------------------
	Table
------------------------------------------------------------*/

.c-banner {
    width: 100%;
    height: 150px;
    background: url(../images/bg-title-faq.jpg) repeat-x center top;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        @include sp {
            width: auto;
            height: 30px;
        }
    }
}