/*------------------------------------------------------------
	Page TERMS value
------------------------------------------------------------*/

$termc-ttl: #ffffff;
$termc-red:#c1000f;
$termc-txt: rgb(51, 51, 51);
;

/*------------------------------------------------------------
	Page TERMS OF USE
------------------------------------------------------------*/

.p-terms {
    padding: 78px 0;
    &01 {
        padding: 85px 100px 90px;
        margin-bottom: 107px;
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: $termc-ttl repeat-x center top;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        &__box {
            margin: 50px 0 0;
            padding: 105px 40px 40px 50px;
            position: relative;
            z-index: 3;
            &::before {
                content: '';
                border: 1px solid $termc-red;
                width: calc(100% - 11px);
                height: 100%;
                background-size: contain;
                position: absolute;
                left: 9px;
                top: 0;
                z-index: 0;
            }
            &::after {
                content: '';
                width: 24px;
                height: 25px;
                background: url(/assets/images/terms/bg-box.jpg) no-repeat;
                background-size: contain;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 0;
            }
            &--ttl {
                position: absolute;
                top: 20px;
                left: 0;
                background: url(/assets/images/terms/ttl.png) no-repeat;
                width: 392px;
                height: 63px;
                font-size: 20px;
                font-weight: bold;
                padding: 13px 0 0 20px;
                color: $termc-ttl;
            }
            &--content {
                .text {
                    font-size: 16px;
                    font-family: "HiraKakuPro";
                    color: $termc-txt;
                    line-height: 2;
                    text-align: justifyLeft;
                    line-height: 32px;
                    position: relative;
                    z-index: 3;
                }
            }
        }
    }
}