.p-products {
    &01 {
        margin-top: 50px;
        .c-list01 {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 60px;
            margin: 0 -15px;
            position: relative;
            z-index: 3;
            &__item {
                display: block;
                width: calc(20% - 30px);
                margin: 0 15px 30px;
                position: relative;
                a {
                    text-decoration-line: none;
                }
            }
            &__img {
                background: #fff;
                border: 1px dashed #c1000f;
                border-radius: 8px;
                overflow: hidden;
                img {
                    width: 100%;
                    transform: 0.3s ease-in-out;
                    vertical-align: top;
                }
            }
            &__ttl {
                font-size: 16px;
                line-height: 26px;
                font-weight: normal;
                color: #333;
                margin-top: 15px;
                text-decoration-line: none;
                &:hover {
                    transform: 0.3s ease-in-out;
                    color: #c1000f;
                }
            }
        }
    }
}