/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/

.c-footer {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background: #c1000f;
    img {
        max-width: 100%;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    &__nav {
        padding: 47px 0 0 12px;
        @include max(768px) {
            padding-left: 0;
            padding-bottom: 20px;
        }
        li {
            margin-bottom: 18px;
            position: relative;
            a {
                font-size: 16px;
                line-height: 1;
                color: #fff;
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                padding-left: 22px;
                position: relative;
                text-decoration: none;
                &::before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: url(../../assets/images/arrow02.png) no-repeat center;
                    background-size: 100%;
                    position: absolute;
                    top: calc(50% - 6px);
                    left: 0;
                }
                &:hover {
                    opacity: 0.7;
                }
                @include max(768px) {
                    display: block;
                    padding: 10px 10px 10px 22px;
                }
            }
            .sub-menu {
                overflow: 'hidden';
                height: 0;
                transition: 0.3s ease-in-out;
                opacity: 0;
                @include min(1025px) {
                    display: none;
                }
                li {
                    padding-left: 22px;
                    a {
                        padding-left: 25px;
                        &::before {
                            width: 10px;
                            height: 15px;
                            background: transparent;
                            border-left: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                            top: -3px;
                        }
                    }
                }
                &.is-active {
                    height: 100%;
                    opacity: 1;
                    transition: 0.3s ease-in-out;
                    li {
                        background: unset;
                        a {
                            &::before {
                                top: 8px;
                            }
                        }
                    }
                }
            }
            .icon-sub {
                width: 19px;
                height: 19px;
                justify-content: center;
                align-items: center;
                background: rgba(255, 255, 255, 0.5);
                position: absolute;
                top: 2px;
                right: 2px;
                z-index: 3;
                display: none;
                @include max(768px) {
                    width: 32px;
                    height: 32px;
                    background: rgba(255, 255, 255, 0.1);
                    display: flex;
                }
                &.is-active {
                    transform: rotate(178deg);
                }
            }
            @include min(1025px) {
                &:hover {
                    .sub-menu {
                        padding-top: 15px;
                        height: auto;
                        display: block;
                        opacity: 1;
                    }
                }
            }
            @include max(768px) {
                width: calc(50% - 15px);
                background: rgba(0, 0, 0, 0.1);
                display: block;
                padding-left: 10px;
                margin-bottom: 5px;
            }
            @include sp {
                width: 100%;
            }
        }
    }
    &__face {
        color: #1877f2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29.5%;
        height: 435px;
        background: #fff;
        @include max(768px) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 30px;
        }
    }
    &__insta {
        color: #1877f2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29.5%;
        height: 435px;
        background: #fff;
        margin-left: 35px;
        @include max(768px) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 30px;
            margin-left: 0;
        }
    }
    &__info {
        text-align: left;
        width: calc(41% - 35px);
        padding-right: 35px;
        @include max(768px) {
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
            padding-right: 0;
        }
    }
}