/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/

.c-footer {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background: #c1000f;
    height: 400px;
}