@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%; }

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

table,
input,
textarea,
select,
option {
  line-height: 1.1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

a {
  transition: 0.3s ease-in-out; }

form label {
  cursor: pointer; }

/*------------------------------------------------------------
	Clearfix
------------------------------------------------------------*/
/*------------------------------------------------------------
	Font
------------------------------------------------------------*/
/*------------------------------------------------------------
	Media
------------------------------------------------------------*/
/*------------------------------------------------------------
	Flex Box
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
.l-main {
  width: 100%;
  min-height: 600px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.l-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .l-container {
      padding: 0 15px; } }

body {
  background: url(../images/bg-content.png) repeat center top;
  background-color: #fef0cb; }

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
  width: 100%;
  background: #c1000f;
  transition: 0.3s ease-in-out; }
  .c-header__box {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media screen and (max-width: 1200px) {
      .c-header__box {
        padding: 0 15px; } }
  .c-header__toggle {
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    overflow: hidden;
    display: none; }
    .c-header__toggle span {
      display: block;
      width: 30px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: calc(50% - 1px);
      left: 10px;
      transition: 0.3s ease-in-out; }
      .c-header__toggle span:before {
        content: '';
        width: 30px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: calc(50% - 1px);
        transition: 0.3s ease-in-out;
        margin-top: -10px; }
      .c-header__toggle span:after {
        content: '';
        width: 30px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: calc(50% - 1px);
        transition: 0.3s ease-in-out;
        margin-top: 10px; }
    @media screen and (max-width: 768px) {
      .c-header__toggle {
        display: block; } }
  .c-header__toggle.is-active span {
    background: #c1000f; }
    .c-header__toggle.is-active span:before {
      transform: rotate(135deg);
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
      margin-top: 0; }
    .c-header__toggle.is-active span:after {
      transform: rotate(225deg);
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
      margin-top: 0; }
  @media screen and (max-width: 768px) {
    .c-header {
      padding: 10px 0;
      position: relative; } }

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background: #c1000f;
  height: 400px; }

/*------------------------------------------------------------
	Side
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
/*------------------------------------------------------------
	Text
------------------------------------------------------------*/
/*------------------------------------------------------------
	Form
------------------------------------------------------------*/
/*------------------------------------------------------------
        Navi
        ------------------------------------------------------------*/
.c-nav {
  transition: 0.3s ease-in-out; }
  .c-nav__list {
    display: flex;
    flex-wrap: wrap; }
    .c-nav__list > li {
      padding: 27px 0; }
      @media screen and (max-width: 768px) {
        .c-nav__list > li {
          padding: 15px 0;
          border-bottom: 1px solid #ccc; } }
      .c-nav__list > li + li {
        margin-left: 39px; }
        @media screen and (max-width: 768px) {
          .c-nav__list > li + li {
            margin-left: 0; } }
      @media screen and (min-width: 769px) {
        .c-nav__list > li:hover {
          transform: scale(1);
          opacity: 1; } }
    .c-nav__list a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: normal;
      font-family: "Poppins", sans-serif;
      font-size: 16px; }
    .c-nav__list .is-child {
      padding-right: 20px;
      position: relative; }
      .c-nav__list .is-child:hover .sub-menu {
        transform: scale(1);
        transform-origin: top;
        opacity: 1; }
      .c-nav__list .is-child .sub-menu {
        width: 240px;
        position: absolute;
        top: 100%;
        left: calc(50% - 120px);
        transform: scale(0);
        transform-origin: top;
        opacity: 0;
        z-index: 4;
        padding: 5px 15px 5px;
        background: #95030e;
        transition: 0.3s ease-in-out; }
        .c-nav__list .is-child .sub-menu li {
          width: 100%;
          padding: 0;
          position: relative; }
          .c-nav__list .is-child .sub-menu li + li {
            border-top: 1px dotted #fff; }
          .c-nav__list .is-child .sub-menu li a {
            display: block;
            color: #fff;
            text-align: left;
            line-height: 1;
            padding: 15px 0;
            position: relative; }
            .c-nav__list .is-child .sub-menu li a:hover {
              color: #ccc; }
      .c-nav__list .is-child .icon-child {
        width: 9px;
        height: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        right: 0;
        top: calc(50% - 3px); }
    @media screen and (max-width: 768px) {
      .c-nav__list {
        display: block; } }
  @media screen and (max-width: 768px) {
    .c-nav {
      background: #c1000f;
      position: fixed;
      top: 71px;
      right: -100%;
      width: 100%;
      z-index: 10;
      padding: 0 20px 20px;
      opacity: 0;
      border-top: 1px solid #fff; } }

@media screen and (max-width: 768px) {
  .c-nav.is-active {
    position: absolute;
    right: 0;
    opacity: 1; } }

/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
/*------------------------------------------------------------
	List
------------------------------------------------------------*/
/*------------------------------------------------------------
	Slider
------------------------------------------------------------*/
/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
.c-breadcrumb {
  display: flex;
  align-items: center;
  padding: 23px 0 0; }
  .c-breadcrumb li {
    font-size: 16px;
    line-height: 1;
    color: #333;
    text-transform: uppercase;
    position: relative;
    padding-right: 8px; }
    .c-breadcrumb li + li {
      padding-left: 12px; }
      .c-breadcrumb li + li::before {
        content: '';
        width: 6px;
        height: 10px;
        background: url(../images/chevron-right-icon.png) no-repeat center;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: calc(50% - 5px); }
    .c-breadcrumb li a {
      color: #333;
      text-decoration: none; }

/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
.c-banner {
  width: 100%;
  height: 150px;
  background: url(../images/bg-title-faq.jpg) repeat-x center top;
  display: flex;
  align-items: center;
  justify-content: center; }

/*------------------------------------------------------------
	Page TERMS value
------------------------------------------------------------*/
/*------------------------------------------------------------
	Page TERMS OF USE
------------------------------------------------------------*/
.p-terms {
  padding: 65px 0; }
  .p-terms .p-term {
    padding: 44px 100px 102px;
    margin-bottom: 35px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .p-terms .p-term {
        padding: 44px 50px 102px; } }
    @media screen and (max-width: 578px) {
      .p-terms .p-term {
        padding: 44px 30px 102px; } }
    @media screen and (max-width: 400px) {
      .p-terms .p-term {
        padding: 44px 20px 102px; } }
    .p-terms .p-term::before {
      content: '';
      width: 100%;
      height: 100%;
      background: #ffffff repeat-x center top;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
    .p-terms .p-term__box {
      margin: 54px 0 0;
      padding: 90px 40px 42px 50px;
      position: relative;
      z-index: 3; }
      .p-terms .p-term__box::before {
        content: '';
        border: 1px solid #c1000f;
        width: calc(100% - 11px);
        height: 100%;
        background-size: contain;
        position: absolute;
        left: 9px;
        top: 0;
        z-index: 0; }
      .p-terms .p-term__box::after {
        content: '';
        width: 24px;
        height: 25px;
        background: url(/assets/images/terms/bg-box.jpg) no-repeat;
        background-size: contain;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0; }
    .p-terms .p-term__ttl {
      position: absolute;
      top: 20px;
      left: 0;
      background: url(/assets/images/terms/ttl.png) no-repeat;
      width: 392px;
      height: 63px;
      font-size: 24px;
      font-family: "HiraKakuPro";
      line-height: 1.333;
      font-weight: bold;
      padding: 13px 0 0 19px;
      color: #ffffff; }
      @media screen and (max-width: 768px) {
        .p-terms .p-term__ttl {
          font-size: 20px; } }
      @media screen and (max-width: 578px) {
        .p-terms .p-term__ttl {
          width: calc(100% - 40px);
          background-size: 100%;
          left: 3px;
          padding-top: 5px; } }
    .p-terms .p-term__items {
      margin-left: 11px;
      margin-right: 10px; }
      .p-terms .p-term__items--ul02 {
        padding-top: 13.5px;
        padding-bottom: 19.5px; }
        .p-terms .p-term__items--ul02 li {
          font-size: 16px;
          color: #333333;
          line-height: 2;
          text-align: justify;
          text-align-last: left;
          position: relative;
          z-index: 3;
          font-size: 16px;
          font-family: "Kozuka Gothic Pr6N";
          font-weight: 500;
          letter-spacing: -0.8px; }
          .p-terms .p-term__items--ul02 li a {
            color: #c1000f; }
      .p-terms .p-term__items--ul01 {
        padding: 13px 0 0px 0; }
        .p-terms .p-term__items--ul01 li {
          font-size: 16px;
          color: #333333;
          line-height: 2;
          text-align: justify;
          text-align-last: left;
          position: relative;
          z-index: 3;
          font-size: 16px;
          font-family: "Kozuka Gothic Pr6N";
          letter-spacing: -0.8px; }
          .p-terms .p-term__items--ul01 li a {
            color: #c1000f; }
      .p-terms .p-term__items:not(:first-child):not(:last-child) {
        border-bottom: 1.5px dashed #c1000f;
        margin-bottom: 15.5px; }
    .p-terms .p-term__ttl02 {
      display: flex;
      font-size: 20px;
      font-family: "HiraKakuPro";
      line-height: 1.6;
      padding-top: 16px; }
      @media screen and (max-width: 768px) {
        .p-terms .p-term__ttl02 {
          font-size: 18px; } }
      .p-terms .p-term__ttl02 .num {
        width: 42px;
        height: 43px;
        background-image: url(/assets/images/terms/bg-num.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: #ffffff;
        margin-right: 19px;
        position: relative; }
        .p-terms .p-term__ttl02 .num strong {
          position: absolute;
          top: 10%;
          bottom: 10%;
          left: 35%;
          right: 35%; }
      .p-terms .p-term__ttl02 .ttl {
        color: #c1000f;
        text-align: left;
        padding-top: 5px; }
